# weights are large files and are not included in the repo
data/weights
data/audios
data/plots
.env
r2d2_images
/.idea
/experiments1
/experiments
/experiments_gpt
/experiments_gemini
/experiments_gemini_10trials_smooth
/experiments_gpt_10trials
/experiments_gpt_10trials_smooth
