# weights are large files and are not included in the repo
data/weights
data/audios
data/plots
.env
r2d2_images
/.idea
/junk/experiments1
/experiments
/junk/experiments_gpt
/junk/experiments_gemini
/junk/experiments_gemini_10trials_smooth
/experiments_gpt_10trials
/experiments_gpt_10trials_smooth
/experiments_gemini_10trials
/experiments_gemini_10trials_smooth
/experiments_geminif_10trials
/experiments_geminif_10trials_smooth
/experiments_geminiflash_10trials
/experiments_geminiflash_10trials_smooth
/.idea
/ablations_maxdrones_gemini
/ablations_maxdrones_gpt
/.idea
/.idea
*.xml
/ablations
