# project requirements
pyaudio
openai-whisper
pydub
scipy
numpy
matplotlib
openai
google-generativeai==0.6.0
python-dotenv
pybullet
langchain
# issues related to whisper, particularly ffmpeg
# https://github.com/openai/whisper