# project requirements
pyaudio
openai-whisper
pydub
scipy
numpy
matplotlib
openai
google-generativeai
python-dotenv

# issues related to whisper, particularly ffmpeg
# https://github.com/openai/whisper